.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(247, 240, 178, 0.658);
    border-radius: 7px;
  }
  
  .bgijo{
    background: rgba(144, 111, 111, 0.85);
  }
  
  .bg-card-2 {
    position: relative;
    background-image: url('https://lh3.googleusercontent.com/drive-viewer/AKGpihadD7-3s-7X8_lI9Kdr5ngq2KJHEhwM5CrnWPlDWWoPZgQ45xpd1af4C7jORNse8kitQ6EzUfGZ0YFqAJAK4de0NuoLZwTB7Q=s1600-rw-v1'),
    url('https://lh3.googleusercontent.com/drive-viewer/AKGpihadD7-3s-7X8_lI9Kdr5ngq2KJHEhwM5CrnWPlDWWoPZgQ45xpd1af4C7jORNse8kitQ6EzUfGZ0YFqAJAK4de0NuoLZwTB7Q=s1600-rw-v1'),
    url('https://lh3.googleusercontent.com/drive-viewer/AKGpihZ0XZo9U4SHmNEILUt7Hz2yAyBdVL2-qIkLUXY3YO7I_xhSyX_zaJMZfGem6XipjOkrqqFYJYdhwy_Kct2GmwAp5YiSbsIf2w=s1600-rw-v1');
    image-rendering: optimizeQuality;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top, left bottom, center bottom;
    opacity: 1;
  }